*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-image: url("/static/background.jpg");
    background-size: 100%;
}

.content{
    margin: 20dvh 37.5dvw;
    width: 25dvw;
    padding: 2% 5%;
    border-radius: 5%;
    background-color: rgba(0,0,0,0.3);
    overflow-y: hidden;
}

button[type=submit], input[type=text], select{
    background: rgba(0,0,0,0.4);
}

.content p{
    color: cyan;
    text-align: center;
    font-size: larger;
}

.content input[type=text]{
    width: 13dvw;
    margin: 0 1dvw;
    text-align: center;
    color: cyan;
    background: rgba(0,0,0,0.6);
}

.content ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: cyan;
    opacity: 1; /* Firefox */
}
  
.content :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: cyan;
}
  
.content ::-ms-input-placeholder { /* Microsoft Edge */
    color: cyan;
}

button[type=submit]{
    padding: 0.5dvh;
    width: 10dvw;
    margin: 1dvh 2.5dvw;
    color: cyan;
}