body{
    background-color: rgb(87, 78, 78);
}

.header{
    width:fit-content;
    margin: 0 auto;
    color: red;
}

.body{
    width:fit-content;
    margin: 0 auto;
}

.body li{
    color: silver;
    font-size: larger;
}